UPDF/ProcessingReady.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.pwg.org/schemas/sm/1.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.pwg.org/schemas/sm/1.0/" elementFormDefault="qualified" version="1.00">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">PWG Processing Default Element schema
Copyright 2002-2004, IEEE Industry Standards and Technology Organization/Printer Working Group. 
All rights reserved</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>NOTE: To use this schema you MUST include PwgCommon.xsd, DocumentProcessing.xsd, JobProcessing.xsd</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>Processing Ready Element definition</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="ProcessingReady">
		<xsd:sequence>
			<xsd:element name="DocumentProcessingReady" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="FinishingsReady" minOccurs="0"/>
						<xsd:element ref="MediaReady" minOccurs="0"/>
						<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="JobProcessingReady" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="JobFinishingsReady" minOccurs="0"/>
						<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="MediaColReady" minOccurs="0"/>
			<xsd:element ref="MediaReady" minOccurs="0"/>
			<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ProcessingReady" type="ProcessingReady"/>
	<xsd:annotation>
		<xsd:documentation>Processing Ready specific semantic elements</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="FinishingsReady">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Finishing" minOccurs="0" maxOccurs="unbounded">
					<xsd:simpleType>
						<xsd:union memberTypes="FinishingsWKV KeywordNsExtensionPattern"/>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JobFinishingsReady">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Finishing" minOccurs="0" maxOccurs="unbounded">
					<xsd:simpleType>
						<xsd:union memberTypes="FinishingsWKV KeywordNsExtensionPattern"/>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MediaColReady">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MediaCol" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MediaReady">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Media" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
