UPDF/UPDF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 (http://www.xmlspy.com) by Norbert Schade (private) -->
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://www.pwg.org/updf/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pwg="http://www.pwg.org/schemas/sm/1.0/" xmlns:updf="http://www.pwg.org/updf/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="UPDFDataTypes.xsd"/>
	<xsd:include schemaLocation="UPDFFontHandling.xsd"/>
	<xsd:import namespace="http://www.pwg.org/schemas/sm/1.0/" schemaLocation="PwgObjects.xsd"/>
	<!-- Copyright (c) 2002 Norbert Schade                                     -->
	<!--                                                                       -->
	<!-- Permission is hereby granted, free of charge, to any person obtaining -->
	<!-- a copy of this software and associated documentation files (the       -->
	<!-- "Software"), to deal in the Software without restriction, including   -->
	<!-- without limitation the rights to use, copy, modify, merge, publish,   -->
	<!-- distribute, sublicense, and/or sell copies of the Software,           -->
	<!-- and to permit persons to whom the Software is furnished to do so,     -->
	<!-- subject to the following conditions: The above copyright notice and   -->
	<!-- this permission notice shall be included in all copies                -->
	<!-- or substantial portions of the Software.                              -->
	<!--                                                                       -->
	<!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,       -->
	<!-- EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES       -->
	<!-- OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND              -->
	<!-- NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE-->
	<!-- LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION-->
	<!-- OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION -->
	<!-- WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.       -->
	<xsd:element name="DeviceCapabilities">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="UPDFVersion" type="updf:VersionPattern"/>
				<xsd:element name="DeviceHeader" type="updf:DeviceHeader"/>
				<xsd:element name="PrintCapabilities" type="updf:PrintCapabilities"/>
			</xsd:sequence>
			<xsd:attribute name="FileTypeIdentification" type="xsd:string" fixed="Master description of device or optional unit"/>
		</xsd:complexType>
		<xsd:key name="FeatureIDKey">
			<xsd:selector xpath=".//updf:RAM|.//updf:AvailableMemory|.//updf:PrinterResolution|.//updf:PhotoHalftoning|.//updf:GraphicsHalftoning|.//updf:TextHalftoning|.//updf:Color|.//updf:Copies|.//updf:SheetCollate|.//updf:OrientationRequested|.//updf:MediaPageRotation|.//updf:MediaSize|.//updf:MediaHardwareMargins|.//updf:MediaType|.//updf:MediaInputTrayCheck|.//updf:OutputBin|.//updf:MediaFrontCoating|.//updf:MediaBackCoating|.//updf:MediaColor|.//updf:MediaWeightMetric|.//updf:Sides|.//updf:PageOrderReceived|.//updf:NumberUp|.//updf:NumberUpBorder|.//updf:PresentationDirectionNumberUp|.//updf:MediaTargetSize|.//updf:MediaScaling|.//updf:MediaZoomingByPercentage|.//updf:MinimumMargins|.//updf:FinishingBaling|.//updf:FinishingBinding|.//updf:FinishingBooklet|.//updf:FinishingBookletBinding|.//updf:FinishingCover|.//updf:FinishingFolding|.//updf:FinishingJogging|.//updf:FinishingPunching|.//updf:FinishingStapling|.//updf:FinishingStitiching|.//updf:FinishingTrimming|.//updf:GenericFeature|.//updf:CompositeFeature"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="FeatureIDKeyRefCompositeFeatureDominantFeature" refer="updf:FeatureIDKey">
			<xsd:selector xpath=".//updf:CompositeFeatureRecord"/>
			<xsd:field xpath="@DominantFeature"/>
		</xsd:keyref>
		<xsd:keyref name="FeatureIDKeyRefActionDominantFeature" refer="updf:FeatureIDKey">
			<xsd:selector xpath=".//updf:Action"/>
			<xsd:field xpath="@DominantFeature"/>
		</xsd:keyref>
		<xsd:keyref name="FeatureIDKeyRefComponent" refer="updf:FeatureIDKey">
			<xsd:selector xpath=".//updf:Component"/>
			<xsd:field xpath="@FeatureID"/>
		</xsd:keyref>
		<xsd:keyref name="FeatureIDKeyRefFeatureCondition" refer="updf:FeatureIDKey">
			<xsd:selector xpath=".//updf:FeatureCondition"/>
			<xsd:field xpath="@FeatureID"/>
		</xsd:keyref>
		<xsd:keyref name="FeatureIDKeyRefSetFeature" refer="updf:FeatureIDKey">
			<xsd:selector xpath=".//updf:SetFeature"/>
			<xsd:field xpath="@FeatureID"/>
		</xsd:keyref>
		<xsd:keyref name="FeatureIDKeyRefPreCondition" refer="updf:FeatureIDKey">
			<xsd:selector xpath=".//updf:PreCondition"/>
			<xsd:field xpath="@FeatureID"/>
		</xsd:keyref>
		<xsd:keyref name="FeatureIDKeyRefPostCondition" refer="updf:FeatureIDKey">
			<xsd:selector xpath=".//updf:PostCondition"/>
			<xsd:field xpath="@FeatureID"/>
		</xsd:keyref>
		<xsd:keyref name="FeatureIDKeyRefUIFeature" refer="updf:FeatureIDKey">
			<xsd:selector xpath=".//updf:UIFeature"/>
			<xsd:field xpath="@FeatureID"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="DeviceHeader">
		<xsd:sequence>
			<xsd:element name="DeviceId" type="updf:DeviceId" minOccurs="0"/>
			<xsd:element name="Connectors" type="updf:Connectors" minOccurs="0"/>
			<xsd:element name="DescriptionInfos" type="updf:DescriptionInfos" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="DescriptionVersion" type="xsd:string" use="optional"/>
		<xsd:attribute name="DescriptionComment" type="xsd:string" use="optional"/>
		<xsd:attribute name="Manufacturer" type="xsd:string" use="optional"/>
		<xsd:attribute name="ProductName" type="xsd:string" use="optional"/>
		<xsd:attribute name="UnitName" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="DeviceId">
		<xsd:attribute name="Mfc" type="xsd:string" use="optional"/>
		<xsd:attribute name="Mdl" type="xsd:string" use="optional"/>
		<xsd:attribute name="Cmd" type="xsd:string" use="optional"/>
		<xsd:attribute name="Cls" type="xsd:string" use="optional"/>
		<xsd:attribute name="Des" type="xsd:string" use="optional"/>
		<xsd:attribute name="Cid" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="Connectors">
		<xsd:sequence>
			<xsd:element name="ConnectorForChildUnit" type="updf:ConnectorForChildUnit" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ConnectorAtParentUnit" type="updf:ConnectorAtParentUnit" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConnectorForChildUnit">
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ConnectorAtParentUnit">
		<xsd:attribute name="ConnectorIDRef" type="xsd:string" use="required"/>
		<xsd:attribute name="UnitDescriptionReference" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="DescriptionInfos">
		<xsd:sequence>
			<xsd:element name="DescriptionInfo" type="xsd:string" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrintCapabilities">
		<xsd:sequence>
			<xsd:element name="Header" type="updf:Header" minOccurs="0"/>
			<xsd:element name="Features" type="updf:Features" minOccurs="0"/>
			<xsd:element name="Objects" type="updf:Objects" minOccurs="0"/>
			<xsd:element name="Dependencies" type="updf:Dependencies" minOccurs="0"/>
			<xsd:element name="Events" type="updf:Events" minOccurs="0"/>
			<xsd:element name="UserInterfaces" type="updf:UserInterfaces" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Header">
		<xsd:sequence>
			<xsd:element name="Physical" type="updf:Physical" minOccurs="0"/>
			<xsd:element name="Languages" type="updf:Languages" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="VirtualUnits" type="updf:VirtualUnitsValue" default="VirtualUnits_7200x7200"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Physical">
		<xsd:sequence>
			<xsd:element name="Engine" type="updf:Engine" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Engine">
		<xsd:attribute name="EngineType" type="xsd:string" use="optional"/>
		<xsd:attribute name="EngineSpeedPPM" type="xsd:positiveInteger" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="Languages">
		<xsd:sequence>
			<xsd:element name="PageDescriptionLanguage" type="updf:PageDescriptionLanguage" minOccurs="0"/>
			<xsd:element name="JobControlLanguage" type="updf:JobControlLanguage" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PageDescriptionLanguage">
		<xsd:attribute name="PDLMajorLevel" type="updf:DocumentFormat" default="PCL5e"/>
		<xsd:attribute name="PDLMinorLevel" type="xsd:NMTOKEN" default="0"/>
	</xsd:complexType>
	<xsd:complexType name="JobControlLanguage">
		<xsd:attribute name="JCLMajorLevel" type="updf:JCLWKV" default="PJL"/>
		<xsd:attribute name="JCLMinorLevel" type="xsd:NMTOKEN" default="0"/>
	</xsd:complexType>
	<!-- ................................................................. -->
	<!-- Print Features                                                    -->
	<!-- ................................................................. -->
	<xsd:complexType name="Features">
		<xsd:sequence>
			<xsd:element ref="updf:RAM" minOccurs="0"/>
			<xsd:element ref="updf:AvailableMemory" minOccurs="0"/>
			<xsd:element ref="updf:PrinterResolution" minOccurs="0"/>
			<xsd:element ref="updf:PhotoHalftoning" minOccurs="0"/>
			<xsd:element ref="updf:GraphicsHalftoning" minOccurs="0"/>
			<xsd:element ref="updf:TextHalftoning" minOccurs="0"/>
			<xsd:element ref="updf:Color" minOccurs="0"/>
			<xsd:element ref="updf:Copies" minOccurs="0"/>
			<xsd:element ref="updf:SheetCollate" minOccurs="0"/>
			<xsd:element ref="updf:OrientationRequested" minOccurs="0"/>
			<xsd:element ref="updf:MediaPageRotation" minOccurs="0"/>
			<xsd:element ref="updf:MediaSize" minOccurs="0"/>
			<xsd:element ref="updf:MediaHardwareMargins" minOccurs="0"/>
			<xsd:element ref="updf:MediaType" minOccurs="0"/>
			<xsd:element ref="updf:MediaInputTrayCheck" minOccurs="0"/>
			<xsd:element ref="updf:OutputBin" minOccurs="0"/>
			<xsd:element ref="updf:MediaFrontCoating" minOccurs="0"/>
			<xsd:element ref="updf:MediaBackCoating" minOccurs="0"/>
			<xsd:element ref="updf:MediaColor" minOccurs="0"/>
			<xsd:element ref="updf:MediaWeightMetric" minOccurs="0"/>
			<xsd:element ref="updf:Sides" minOccurs="0"/>
			<xsd:element ref="updf:PageOrderReceived" minOccurs="0"/>
			<xsd:element ref="updf:NumberUp" minOccurs="0"/>
			<xsd:element ref="updf:NumberUpBorder" minOccurs="0"/>
			<xsd:element ref="updf:PresentationDirectionNumberUp" minOccurs="0"/>
			<xsd:element ref="updf:MediaTargetSize" minOccurs="0"/>
			<xsd:element ref="updf:MediaScaling" minOccurs="0"/>
			<xsd:element ref="updf:MediaZoomingByPercentage" minOccurs="0"/>
			<xsd:element ref="updf:FinishingBaling" minOccurs="0"/>
			<xsd:element ref="updf:FinishingBinding" minOccurs="0"/>
			<xsd:element ref="updf:FinishingBooklet" minOccurs="0"/>
			<xsd:element ref="updf:FinishingBookletBinding" minOccurs="0"/>
			<xsd:element ref="updf:FinishingCover" minOccurs="0"/>
			<xsd:element ref="updf:FinishingFolding" minOccurs="0"/>
			<xsd:element ref="updf:FinishingJogging" minOccurs="0"/>
			<xsd:element ref="updf:FinishingPunching" minOccurs="0"/>
			<xsd:element ref="updf:FinishingStapling" minOccurs="0"/>
			<xsd:element ref="updf:FinishingStitching" minOccurs="0"/>
			<xsd:element ref="updf:FinishingTrimming" minOccurs="0"/>
			<xsd:element ref="updf:GenericFeature" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="updf:CompositeFeature" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RAM">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="RAMRecord" type="updf:RAMRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="RAM"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="RAMRecordKey">
			<xsd:selector xpath="./updf:RAMRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="RAMRecordKeyRef" refer="updf:RAMRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="RAMRecord">
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:MemoryPattern" use="required"/>
	</xsd:complexType>
	<xsd:element name="AvailableMemory">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AvailableMemoryRecord" type="updf:AvailableMemoryRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="AvailableMemory"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="optional"/>
		</xsd:complexType>
		<xsd:key name="AvailableMemoryRecordKey">
			<xsd:selector xpath="./updf:AvailableMemoryRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="AvailableMemoryRecordKeyRef" refer="updf:AvailableMemoryRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="AvailableMemoryRecord">
		<xsd:sequence>
			<xsd:element name="VariableValue">
				<xsd:complexType>
					<xsd:attribute name="Minimum" type="xsd:positiveInteger" use="required"/>
					<xsd:attribute name="Maximum" type="xsd:positiveInteger" use="required"/>
					<xsd:attribute name="Step" type="xsd:positiveInteger" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
	</xsd:complexType>
	<xsd:element name="PrinterResolution">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PrinterResolutionRecord" type="updf:PrinterResolutionRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="PrinterResolution"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="PrinterResolutionRecordKey">
			<xsd:selector xpath="./updf:PrinterResolutionRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="PrinterResolutionRecordKeyRef" refer="updf:PrinterResolutionRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="PrinterResolutionRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:ResolutionValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="PhotoHalftoning">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PhotoHalftoningRecord" type="updf:PhotoHalftoningRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="PhotoHalftoning"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="PhotoHalftoningRecordKey">
			<xsd:selector xpath="./updf:PhotoHalftoningRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="PhotoHalftoningRecordKeyRef" refer="updf:PhotoHalftoningRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="PhotoHalftoningRecord">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="LineWith8Entries" type="updf:LineWith8Entries" minOccurs="8" maxOccurs="8"/>
				<xsd:element name="LineWith16Entries" type="updf:LineWith16Entries" minOccurs="16" maxOccurs="16"/>
				<xsd:element name="LineWith32Entries" type="updf:LineWith32Entries" minOccurs="32" maxOccurs="32"/>
				<xsd:element name="DeviceHalftoning" type="updf:DeviceHalftoning"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:HalftoningValue" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="LineWith8Entries">
		<xsd:attribute name="Values" type="updf:HalftoningArray8Pattern" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="LineWith16Entries">
		<xsd:attribute name="Values" type="updf:HalftoningArray16Pattern" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="LineWith32Entries">
		<xsd:attribute name="Values" type="updf:HalftoningArray32Pattern" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="DeviceHalftoning">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="GraphicsHalftoning">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="GraphicsHalftoningRecord" type="updf:GraphicsHalftoningRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="GraphicsHalftoning"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="GraphicsHalftoningRecordKey">
			<xsd:selector xpath="./updf:GraphicsHalftoningRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="GraphicsHalftoningRecordKeyRef" refer="updf:GraphicsHalftoningRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="GraphicsHalftoningRecord">
		<xsd:sequence>
			<xsd:element name="DeviceHalftoning" type="updf:DeviceHalftoning"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:HalftoningValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="TextHalftoning">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TextHalftoningRecord" type="updf:TextHalftoningRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="TextHalftoning"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="TextHalftoningRecordKey">
			<xsd:selector xpath="./updf:TextHalftoningRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="TextHalftoningRecordKeyRef" refer="updf:TextHalftoningRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="TextHalftoningRecord">
		<xsd:sequence>
			<xsd:element name="DeviceHalftoning" type="updf:DeviceHalftoning"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:HalftoningValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="Color">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ColorRecord" type="updf:ColorRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="Color"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:string" use="required"/>
		</xsd:complexType>
		<xsd:key name="ColorRecordKey">
			<xsd:selector xpath="./updf:ColorRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="ColorRecordKeyRef" refer="updf:ColorRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="ColorRecord">
		<xsd:sequence>
			<xsd:element name="Plane" type="updf:Plane" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:ColorModeWKV" use="required"/>
		<xsd:attribute name="PlaneImplementation" type="updf:PlaneImplementationWKV" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Plane">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Color" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:element name="Copies">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="VariableValue">
					<xsd:complexType>
						<xsd:attribute name="Minimum" type="xsd:positiveInteger" use="required"/>
						<xsd:attribute name="Maximum" type="xsd:positiveInteger" use="required"/>
						<xsd:attribute name="Step" type="xsd:positiveInteger" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="Copies"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
                        <xsd:attribute name="DeviceFeature" type="xsd:boolean" default="true"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SheetCollate">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SheetCollateRecord" type="updf:SheetCollateRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="SheetCollate"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
                        <xsd:attribute name="DeviceFeature" type="xsd:boolean" default="false"/>
		</xsd:complexType>
		<xsd:key name="SheetCollateRecordKey">
			<xsd:selector xpath="./updf:SheetCollateRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="SheetCollateRecordKeyRef" refer="updf:SheetCollateRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="SheetCollateRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:SheetCollateValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="OrientationRequested">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="OrientationRequestedRecord" type="updf:OrientationRequestedRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="OrientationRequested"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
                        <xsd:attribute name="DeviceFeature" type="xsd:boolean" default="true"/>
		</xsd:complexType>
		<xsd:key name="OrientationRequestedRecordKey">
			<xsd:selector xpath="./updf:OrientationRequestedRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="OrientationRequestedRecordKeyRef" refer="updf:OrientationRequestedRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="OrientationRequestedRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="pwg:OrientationRequestedWKV" use="required"/>
	</xsd:complexType>
	<xsd:element name="MediaPageRotation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MediaPageRotationRecord" type="updf:MediaPageRotationRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="MediaPageRotation"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
                        <xsd:attribute name="DeviceFeature" type="xsd:boolean" default="false"/>
		</xsd:complexType>
		<xsd:key name="MediaPageRotationRecordKey">
			<xsd:selector xpath="./updf:MediaPageRotationRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="MediaPageRotationRecordKeyRef" refer="updf:MediaPageRotationRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="MediaPageRotationRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:MediaPageRotationWKV" use="required"/>
	</xsd:complexType>
	<xsd:element name="MediaSize">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MediaSizeRecord" type="updf:MediaSizeRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="MediaSize"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="optional"/>
		</xsd:complexType>
		<xsd:key name="MediaSizeRecordKey">
			<xsd:selector xpath="./updf:MediaSizeRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="MediaSizeRecordKeyRef" refer="updf:MediaSizeRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="MediaSizeRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:MediaSizeValue" use="required"/>
		<xsd:attribute name="FeedOrientation" type="updf:FeedOrientation" use="optional"/>
		<xsd:attribute name="VirtualBookletSize" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:element name="MediaHardwareMargins">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MediaHardwareMarginsRecord" type="updf:MediaHardwareMarginsRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="MediaHardwareMargins"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Hidden"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MediaHardwareMarginsRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:MediaHardwareMarginsPattern" use="required"/>
	</xsd:complexType>
	<xsd:element name="MediaType">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MediaTypeRecord" type="updf:MediaTypeRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="MediaType"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="MediaTypeRecordKey">
			<xsd:selector xpath="./updf:MediaTypeRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="MediaTypeRecordKeyRef" refer="updf:MediaTypeRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="MediaTypeRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:MediaTypeValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="MediaInputTrayCheck">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MediaInputTrayCheckRecord" type="updf:MediaInputTrayCheckRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="MediaInputTrayCheck"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="MediaInputTrayCheckRecordKey">
			<xsd:selector xpath="./updf:MediaInputTrayCheckRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="MediaInputTrayCheckRecordKeyRef" refer="updf:MediaInputTrayCheckRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="MediaInputTrayCheckRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:MediaInputTrayCheckValue" use="required"/>
		<xsd:attribute name="CustomSizeMinimumSize" type="pwg:MediaSizeNameExtensionPattern" use="optional"/>
		<xsd:attribute name="CustomSizeMaximumSize" type="pwg:MediaSizeNameExtensionPattern" use="optional"/>
		<xsd:attribute name="CustomSizeLeftOffset" type="xsd:string" use="optional"/>
		<xsd:attribute name="CustomSizeReferenceSize" type="xsd:string" use="optional"/>
		<xsd:attribute name="Capacity" type="xsd:string" use="optional"/>
		<xsd:attribute name="Reservoir" type="xsd:string" use="optional"/>
		<xsd:attribute name="MediaFlippedBeforePrinting" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:element name="OutputBin">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="OutputBinRecord" type="updf:OutputBinRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="OutputBin"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="OutputBinRecordKey">
			<xsd:selector xpath="./updf:OutputBinRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="OutputBinRecordKeyRef" refer="updf:OutputBinRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="OutputBinRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:OutputBinValue" use="required"/>
		<xsd:attribute name="Capacity" type="xsd:string" use="optional"/>
		<xsd:attribute name="MediaFlippedAfterPrinting" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:element name="MediaFrontCoating">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MediaFrontCoatingRecord" type="updf:MediaFrontCoatingRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="MediaFrontCoating"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="MediaFrontCoatingRecordKey">
			<xsd:selector xpath="./updf:MediaFrontCoatingRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="MediaFrontCoatingRecordKeyRef" refer="updf:MediaFrontCoatingRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="MediaFrontCoatingRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:MediaCoatingValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="MediaBackCoating">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MediaBackCoatingRecord" type="updf:MediaBackCoatingRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="MediaBackCoating"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="MediaBackCoatingRecordKey">
			<xsd:selector xpath="./updf:MediaBackCoatingRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="MediaBackCoatingRecordKeyRef" refer="updf:MediaBackCoatingRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="MediaBackCoatingRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:MediaCoatingValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="MediaColor">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MediaColorRecord" type="updf:MediaColorRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="MediaColor"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="MediaColorRecordKey">
			<xsd:selector xpath="./updf:MediaColorRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="MediaColorRecordKeyRef" refer="updf:MediaColorRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="MediaColorRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:MediaColorValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="MediaWeightMetric">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MediaWeightMetricRecord" type="updf:MediaWeightMetricRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="MediaWeightMetric"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="MediaWeightMetricRecordKey">
			<xsd:selector xpath="./updf:MediaWeightMetricRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="MediaWeightMetricRecordKeyRef" refer="updf:MediaWeightMetricRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="MediaWeightMetricRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="xsd:integer" use="required"/>
	</xsd:complexType>
	<xsd:element name="Sides">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SidesRecord" type="updf:SidesRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="Sides"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="SidesRecordKey">
			<xsd:selector xpath="./updf:SidesRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="SidesRecordKeyRef" refer="updf:SidesRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="SidesRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="pwg:SidesWKV" use="required"/>
		<xsd:attribute name="SidesProcessing" type="updf:SidesProcessingWKV" use="optional"/>
	</xsd:complexType>
	<xsd:element name="PageOrderReceived">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PageOrderReceivedRecord" type="updf:PageOrderReceivedRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="PageOrderReceived"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
                        <xsd:attribute name="DeviceFeature" type="xsd:boolean" default="false"/>
		</xsd:complexType>
		<xsd:key name="PageOrderReceivedRecordKey">
			<xsd:selector xpath="./updf:PageOrderReceivedRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="PageOrderReceivedRecordKeyRef" refer="updf:PageOrderReceivedRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="PageOrderReceivedRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:PageOrderReceivedValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="NumberUp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="NumberUpRecord" type="updf:NumberUpRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="NumberUp"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
                        <xsd:attribute name="DeviceFeature" type="xsd:boolean" default="false"/>
		</xsd:complexType>
		<xsd:key name="NumberUpRecordKey">
			<xsd:selector xpath="./updf:NumberUpRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="NumberUpRecordKeyRef" refer="updf:NumberUpRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="NumberUpRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:MediaNumberUp" use="required"/>
		<xsd:attribute name="HorizontalSpaceBetweenPages" type="xsd:string" use="optional"/>
		<xsd:attribute name="VerticalSpaceBetweenPages" type="xsd:string" use="optional"/>
		<xsd:attribute name="LeftOffsetFirstPage" type="xsd:string" use="optional"/>
		<xsd:attribute name="TopOffsetFirstPage" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:element name="NumberUpBorder">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="NumberUpBorderRecord" type="updf:NumberUpBorderRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="NumberUpBorder"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
                        <xsd:attribute name="DeviceFeature" type="xsd:boolean" default="false"/>
		</xsd:complexType>
		<xsd:key name="NumberUpBorderRecordKey">
			<xsd:selector xpath="./updf:NumberUpBorderRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="NumberUpBorderRecordKeyRef" refer="updf:NumberUpBorderRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="NumberUpBorderRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:MediaNumberUpBorder" use="required"/>
	</xsd:complexType>
	<xsd:element name="PresentationDirectionNumberUp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PresentationDirectionNumberUpRecord" type="updf:PresentationDirectionNumberUpRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="PresentationDirectionNumberUp"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
                        <xsd:attribute name="DeviceFeature" type="xsd:boolean" default="false"/>
		</xsd:complexType>
		<xsd:key name="PresentationDirectionNumberUpRecordKey">
			<xsd:selector xpath="./updf:PresentationDirectionNumberUpRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="PresentationDirectionNumberUpRecordKeyRef" refer="updf:PresentationDirectionNumberUpRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="PresentationDirectionNumberUpRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="pwg:PresentationDirectionNumberUpWKV" use="required"/>
	</xsd:complexType>
	<xsd:element name="MediaTargetSize">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MediaTargetSizeRecord" type="updf:MediaTargetSizeRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="MediaTargetSize"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="MediaTargetSizeRecordKey">
			<xsd:selector xpath="./updf:MediaTargetSizeRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="MediaTargetSizeRecordKeyRef" refer="updf:MediaTargetSizeRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="MediaTargetSizeRecord">
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:MediaTargetSizeValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="MediaScaling">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MediaScalingRecord" type="updf:MediaScalingRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="MediaScaling"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
                        <xsd:attribute name="DeviceFeature" type="xsd:boolean" default="false"/>
		</xsd:complexType>
		<xsd:key name="MediaScalingRecordKey">
			<xsd:selector xpath="./updf:MediaScalingRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="MediaScalingRecordKeyRef" refer="updf:MediaScalingRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="MediaScalingRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:MediaScalingWKV" use="required"/>
	</xsd:complexType>
	<xsd:element name="MediaZoomingByPercentage">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="VariableValue">
					<xsd:complexType>
						<xsd:attribute name="Minimum" type="xsd:positiveInteger" use="required"/>
						<xsd:attribute name="Maximum" type="xsd:positiveInteger" use="required"/>
						<xsd:attribute name="Step" type="xsd:positiveInteger" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="MediaPercentage"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
                        <xsd:attribute name="DeviceFeature" type="xsd:boolean" default="false"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FinishingBaling">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FinishingBalingRecord" type="updf:FinishingBalingRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="FinishingBaling"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="FinishingBalingRecordKey">
			<xsd:selector xpath="./updf:FinishingBalingRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="FinishingBalingRecordKeyRef" refer="updf:FinishingBalingRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="FinishingBalingRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:FinishingBalingValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="FinishingBinding">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FinishingBindingRecord" type="updf:FinishingBindingRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="FinishingBinding"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="FinishingBindingRecordKey">
			<xsd:selector xpath="./updf:FinishingBindingRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="FinishingBindingRecordKeyRef" refer="updf:FinishingBindingRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="FinishingBindingRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:FinishingBindingValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="FinishingBooklet">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FinishingBookletRecord" type="updf:FinishingBookletRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="FinishingBooklet"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
                        <xsd:attribute name="DeviceFeature" type="xsd:boolean" default="false"/>
		</xsd:complexType>
		<xsd:key name="FinishingBookletRecordKey">
			<xsd:selector xpath="./updf:FinishingBookletRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="FinishingBookletRecordKeyRef" refer="updf:FinishingBookletRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="FinishingBookletRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:FinishingBookletValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="FinishingBookletBinding">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FinishingBookletBindingRecord" type="updf:FinishingBookletBindingRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="FinishingBookletBinding"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
                        <xsd:attribute name="DeviceFeature" type="xsd:boolean" default="false"/>
		</xsd:complexType>
		<xsd:key name="FinishingBookletBindingRecordKey">
			<xsd:selector xpath="./updf:FinishingBookletBindingRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="FinishingBookletBindingRecordKeyRef" refer="updf:FinishingBookletBindingRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="FinishingBookletBindingRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:FinishingBookletBindingValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="FinishingCover">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FinishingCoverRecord" type="updf:FinishingCoverRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="FinishingCover"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="FinishingCoverRecordKey">
			<xsd:selector xpath="./updf:FinishingCoverRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="FinishingCoverRecordKeyRef" refer="updf:FinishingCoverRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="FinishingCoverRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:FinishingCoverValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="FinishingFolding">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FinishingFoldingRecord" type="updf:FinishingFoldingRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="FinishingFolding"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="FinishingFoldingRecordKey">
			<xsd:selector xpath="./updf:FinishingFoldingRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="FinishingFoldingRecordKeyRef" refer="updf:FinishingFoldingRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="FinishingFoldingRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:FinishingFoldingValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="FinishingJogging">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FinishingJoggingRecord" type="updf:FinishingJoggingRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="FinishingJogging"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="FinishingJoggingRecordKey">
			<xsd:selector xpath="./updf:FinishingJoggingRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="FinishingJoggingRecordKeyRef" refer="updf:FinishingJoggingRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="FinishingJoggingRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:FinishingJoggingValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="FinishingPunching">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FinishingPunchingRecord" type="updf:FinishingPunchingRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="FinishingPunching"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="FinishingPunchingRecordKey">
			<xsd:selector xpath="./updf:FinishingPunchingRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="FinishingPunchingRecordKeyRef" refer="updf:FinishingPunchingRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="FinishingPunchingRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:FinishingPunchingValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="FinishingStapling">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FinishingStaplingRecord" type="updf:FinishingStaplingRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="FinishingStapling"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="FinishingStaplingRecordKey">
			<xsd:selector xpath="./updf:FinishingStaplingRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="FinishingStaplingRecordKeyRef" refer="updf:FinishingStaplingRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="FinishingStaplingRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:FinishingStaplingValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="FinishingStitching">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FinishingStitchingRecord" type="updf:FinishingStitchingRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="FinishingStitching"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="FinishingStitchingRecordKey">
			<xsd:selector xpath="./updf:FinishingStitchingRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="FinishingStitchingRecordKeyRef" refer="updf:FinishingStitchingRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="FinishingStitchingRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:FinishingStitchingValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="FinishingTrimming">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FinishingTrimmingRecord" type="updf:FinishingTrimmingRecord" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" fixed="FinishingTrimming"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="FinishingTrimmingRecordKey">
			<xsd:selector xpath="./updf:FinishingTrimmingRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="FinishingTrimmingRecordKeyRef" refer="updf:FinishingTrimmingRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="FinishingTrimmingRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:FinishingTrimmingValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="GenericFeature">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="GenericFeatureRecord" type="updf:GenericFeatureRecord" maxOccurs="unbounded"/>
				<xsd:element name="VariableValue">
					<xsd:complexType>
						<xsd:attribute name="Minimum" type="xsd:integer" use="required"/>
						<xsd:attribute name="Maximum" type="xsd:integer" use="required"/>
						<xsd:attribute name="Step" type="xsd:integer" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
			<xsd:attribute name="ID" type="xsd:ID" use="required"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
		<xsd:key name="GenericFeatureRecordKey">
			<xsd:selector xpath="./updf:GenericFeatureRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="GenericFeatureRecordKeyRef" refer="updf:GenericFeatureRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="GenericFeatureRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:element name="CompositeFeature">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CompositeFeatureRecord" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Component" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:attribute name="FeatureID" type="xsd:string" use="required"/>
									<xsd:attribute name="FeatureSetting" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
							<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
						<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						<xsd:attribute name="ClassifyingID" type="xsd:string" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" use="required"/>
			<xsd:attribute name="HelpID" type="xsd:ID"/>
			<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
			<xsd:attribute name="NonDominantRepresentative" type="xsd:IDREF" use="optional"/>
			<xsd:attribute name="DominantFeature" type="xsd:string" use="optional"/>
			<xsd:attribute name="UserExtensible" type="xsd:boolean" default="true"/>
		</xsd:complexType>
		<xsd:key name="CompositeFeatureRecordKey">
			<xsd:selector xpath="./updf:CompositeFeatureRecord"/>
			<xsd:field xpath="@ID"/>
		</xsd:key>
		<xsd:keyref name="CompositeFeatureRecordKeyRef" refer="updf:CompositeFeatureRecordKey">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@NonDominantRepresentative"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="Objects">
		<xsd:sequence>
			<xsd:element name="Positioning" type="updf:Positioning" minOccurs="0"/>
			<xsd:element name="RasterObjects" type="updf:RasterObjects"/>
			<xsd:element name="FontObjects" type="updf:FontObjects" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Positioning">
		<xsd:sequence>
			<xsd:element name="PositioningRecord" type="updf:PositioningRecord" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="PositioningRecord">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:Position" use="required"/>
		<xsd:attribute name="MaximumValue" type="xsd:string" use="required"/>
		<xsd:attribute name="Reference" type="updf:PositioningReferenceWKV" use="required"/>
		<xsd:attribute name="Direction" type="updf:PositioningDirectionWKV" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="RasterObjects">
		<xsd:sequence>
			<xsd:element name="RasterObject" type="updf:RasterObject" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" fixed="RasterObjects"/>
	</xsd:complexType>
	<xsd:complexType name="RasterObject">
		<xsd:sequence>
			<xsd:element name="Compression" type="updf:Compression" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Padding" type="updf:Padding" minOccurs="0"/>
			<xsd:element name="Band" type="updf:Band" minOccurs="0"/>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:ResolutionValue" use="required"/>
		<xsd:attribute name="ByteOrientation" type="updf:ByteOrientationWKV" use="required"/>
		<xsd:attribute name="CAP" type="updf:PositionAfterGraphicWKV" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Compression">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:CompressionValue" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Padding">
		<xsd:attribute name="LeftMargin" type="xsd:boolean" default="false"/>
		<xsd:attribute name="RightMargin" type="xsd:boolean" default="false"/>
		<xsd:attribute name="ByteAlignment" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="Band">
		<xsd:attribute name="Units" type="updf:BandUnitsWKV" use="required"/>
		<xsd:attribute name="Size" type="xsd:positiveInteger" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="FontObjects">
		<xsd:sequence>
			<xsd:element name="ModifyingAttributes" type="updf:ModifyingAttributes"/>
			<xsd:element name="DeviceFont" type="updf:DeviceFont" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ModifyingAttributes">
		<xsd:sequence>
			<xsd:element name="Slant" type="updf:Slant" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Weight" type="updf:Weight" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Underline" type="updf:Underline" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Strikeout" type="updf:Strikeout" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Rotation" type="updf:Rotation"/>
			<xsd:element name="Color" type="updf:DeviceColor" maxOccurs="unbounded"/>
			<xsd:element name="GlobalTextCapabilities" type="updf:GlobalTextCapabilities"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Slant">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:OnOffToggle" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Weight">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:OnOffToggle" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Underline">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:OnOffToggle" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Strikeout">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="ClassifyingID" type="updf:OnOffToggle" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Rotation">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Angle" type="updf:FontAngleWKV" use="optional"/>
		<xsd:attribute name="AntiClockwise" type="updf:FontRotationDirectionWKV" use="required"/>
		<xsd:attribute name="EscapementAffected" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="DeviceColor">
		<xsd:sequence>
			<xsd:element name="Parameter" type="updf:Parameter" minOccurs="0"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Red" type="xsd:nonNegativeInteger" use="required"/>
		<xsd:attribute name="Green" type="xsd:nonNegativeInteger" use="required"/>
		<xsd:attribute name="Blue" type="xsd:nonNegativeInteger" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="GlobalTextCapabilities">
		<xsd:sequence>
			<xsd:element name="Scaling" type="updf:Scaling"/>
		</xsd:sequence>
		<xsd:attribute name="ShowBitmapFonts" type="xsd:boolean" use="required"/>
		<xsd:attribute name="ShowVectorFonts" type="xsd:boolean" use="required"/>
		<xsd:attribute name="CharacterOutputPrecision" type="xsd:boolean" use="required"/>
		<xsd:attribute name="CharacterClippingPrecision" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Scaling">
		<xsd:attribute name="Anisotropic" type="xsd:boolean" use="required"/>
		<xsd:attribute name="Integer" type="xsd:boolean" use="required"/>
		<xsd:attribute name="Continuous" type="xsd:boolean" use="required"/>
		<xsd:attribute name="Doubling" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Dependencies">
		<xsd:sequence>
			<xsd:element name="Dependency" type="updf:Dependency" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Dependency">
		<xsd:sequence>
			<xsd:element name="OperatingSystem" type="updf:OperatingSystemValue" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="FeatureCondition" type="updf:FeatureCondition" maxOccurs="unbounded"/>
			<xsd:element name="Action" type="updf:Action" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FeatureCondition">
		<xsd:attribute name="FeatureID" type="xsd:string" use="required"/>
		<xsd:attribute name="ConditionOperator" type="updf:OperatorWKV" use="required"/>
		<xsd:attribute name="FeatureSetting" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Action">
		<xsd:choice>
			<xsd:element name="ActionFilter" type="xsd:boolean" fixed="true"/>
			<xsd:element name="ActionMessage" type="updf:ActionMessage"/>
			<xsd:element name="ActionSelection" type="updf:ActionSelection"/>
		</xsd:choice>
		<xsd:attribute name="DominantFeature" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ActionMessage">
		<xsd:choice maxOccurs="2">
			<xsd:element name="ActionMessageOK" type="updf:ActionMessageOK"/>
			<xsd:element name="ActionMessageCancel" type="updf:ActionMessageCancel"/>
		</xsd:choice>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ActionMessageOK">
		<xsd:sequence>
			<xsd:element name="SetFeature" type="updf:SetFeature" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="SetFeature">
		<xsd:sequence>
			<xsd:element name="InfoButton" type="updf:InfoButton" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="Appearance" type="updf:AppearanceWKV" default="Standard"/>
		<xsd:attribute name="FeatureID" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureSetting" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="InfoButton">
		<xsd:sequence>
			<xsd:element name="InfoButtonOK" type="updf:InfoButtonOK"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="InfoButtonOK">
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ActionMessageCancel">
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ActionSelection">
		<xsd:sequence>
			<xsd:element name="SetFeature" type="updf:SetFeature" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Events">
		<xsd:sequence>
			<xsd:element name="Event" type="updf:Event" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Event">
		<xsd:sequence>
			<xsd:element name="PreCondition" type="updf:PreCondition" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PostCondition" type="updf:PostCondition" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Reset" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OptionalUnitEventLocation" type="updf:OptionalUnitEventLocation" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="EventCommandPosition" type="updf:EventCommandPositionWKV" use="required"/>
		<xsd:attribute name="EventID" type="updf:EventWKV" use="required"/>
		<xsd:attribute name="Redundant" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="CommandSequenceID" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="PreCondition">
		<xsd:attribute name="FeatureID" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureSetting" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="PostCondition">
		<xsd:attribute name="FeatureID" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureSetting" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="OptionalUnitEventLocation">
		<xsd:attribute name="Location" type="updf:EventInsertWKV" use="required"/>
		<xsd:attribute name="EventIDRef" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="UserInterfaces">
		<xsd:sequence>
			<xsd:element name="UserInterface" type="updf:UserInterface" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UserInterface">
		<xsd:complexContent>
			<xsd:extension base="updf:UIGroup">
				<xsd:sequence>
					<xsd:element name="OperatingSystem" type="updf:OperatingSystemValue" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="LocaleRef" type="updf:LocaleIdentifierLong" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UIGroup">
		<xsd:sequence>
			<xsd:element name="UIFeature" type="updf:UIFeature" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="UIGroup" type="updf:UIGroup" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="HelpID" type="xsd:ID"/>
		<xsd:attribute name="UIComposition" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Juxtaposed"/>
					<xsd:enumeration value="Superimposed"/>
					<xsd:enumeration value="PageBased"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="UIPosition" type="updf:UIPositionPattern"/>
	</xsd:complexType>
	<xsd:complexType name="UIFeature">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="FeatureID" type="xsd:string" use="required"/>
		<xsd:attribute name="UIPosition" type="updf:UIPositionPattern"/>
	</xsd:complexType>
</xsd:schema>
