UPDF/UPDFLocale.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://www.pwg.org/updf/"
        xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
        xmlns:updf = "http://www.pwg.org/updf/"
        xmlns:pwg = "http://www.pwg.org/schemas/sm/1.0/"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="UPDF.xsd"/>
	<!-- Copyright (c) 2002 Norbert Schade                                     -->
	<!--                                                                       -->
	<!-- Permission is hereby granted, free of charge, to any person obtaining -->
	<!-- a copy of this software and associated documentation files (the       -->
	<!-- "Software"), to deal in the Software without restriction, including   -->
	<!-- without limitation the rights to use, copy, modify, merge, publish,   -->
	<!-- distribute, sublicense, and/or sell copies of the Software,           -->
	<!-- and to permit persons to whom the Software is furnished to do so,     -->
	<!-- subject to the following conditions: The above copyright notice and   -->
	<!-- this permission notice shall be included in all copies                -->
	<!-- or substantial portions of the Software.                              -->
	<!--                                                                       -->
	<!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,       -->
	<!-- EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES       -->
	<!-- OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND              -->
	<!-- NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE-->
	<!-- LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION-->
	<!-- OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION -->
	<!-- WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.       -->
	
        <xsd:element name = "Locale">
                <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name = "LocaleIdentifier" type = "updf:LocaleIdentifierLong"/>
                                <xsd:element name = "LocaleElements" type = "updf:LocaleElements" minOccurs = "0"/>
                                <xsd:element name = "LocaleDefaults" type = "updf:LocaleDefaults" minOccurs = "0"/>
                        </xsd:sequence>
                        <xsd:attribute name = "FileTypeIdentification" fixed = "Locale" type = "xsd:string"/>
                </xsd:complexType>
        </xsd:element>
        <xsd:complexType name = "LocaleElements">
                <xsd:sequence>
                        <xsd:element name = "LocaleElement" type = "updf:LocaleElement" maxOccurs = "unbounded"/>
                </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType name = "LocaleElement">
                <xsd:attribute name = "StringIDRef" use = "required" type = "xsd:string"/>
                <xsd:attribute name = "LocalizedString" use = "required" type = "xsd:string"/>
        </xsd:complexType>
        <xsd:complexType name = "LocaleDefaults">
                <xsd:sequence>
                        <xsd:element name = "LocaleDefault" type = "updf:LocaleDefault" maxOccurs = "unbounded"/>
                </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType name = "LocaleDefault">
                <xsd:attribute name = "DefaultFeature" use = "required" type = "xsd:string"/>
                <xsd:attribute name = "DefaultSetting" use = "required" type = "xsd:string"/>
        </xsd:complexType>

</xsd:schema>
