UPDF/UPDFFontHandling.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://www.pwg.org/updf/"
        xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
        xmlns:pwg = "http://www.pwg.org/schemas/sm/1.0/"
        xmlns:updf = "http://www.pwg.org/updf/"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation = "UPDFDataTypes.xsd"/>
	<!-- Copyright (c) 2002 Norbert Schade                                     -->
	<!--                                                                       -->
	<!-- Permission is hereby granted, free of charge, to any person obtaining -->
	<!-- a copy of this software and associated documentation files (the       -->
	<!-- "Software"), to deal in the Software without restriction, including   -->
	<!-- without limitation the rights to use, copy, modify, merge, publish,   -->
	<!-- distribute, sublicense, and/or sell copies of the Software,           -->
	<!-- and to permit persons to whom the Software is furnished to do so,     -->
	<!-- subject to the following conditions: The above copyright notice and   -->
	<!-- this permission notice shall be included in all copies                -->
	<!-- or substantial portions of the Software.                              -->
	<!--                                                                       -->
	<!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,       -->
	<!-- EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES       -->
	<!-- OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND              -->
	<!-- NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE-->
	<!-- LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION-->
	<!-- OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION -->
	<!-- WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.       -->
	
                <xsd:complexType name = "DeviceFont">
                        <xsd:sequence>
                                <xsd:element name = "FontNames" type = "updf:FontNames" minOccurs = "0"/>
                                <xsd:element name = "GlobalMetrics" type = "updf:GlobalMetrics"/>
                                <xsd:element name = "IFIMETRICSInfo" type = "updf:IfimetricsInfo"/>
                                <xsd:element name = "Panose" type = "updf:Panose" minOccurs = "0"/>
                                <xsd:element name = "FontTechnology" type = "updf:FontTechnology" minOccurs = "0"/>
                                <xsd:element name = "CharacterHandling" type = "updf:CharacterHandling"/>
                                <xsd:element name = "CharacterList" type = "updf:CharacterList"/>
                                <xsd:element name = "KerningTable" type = "updf:KerningTable" minOccurs = "0"/>
                                <xsd:element name = "CharacterSubstitutionTable" type = "updf:CharacterSubstitutionTable" minOccurs = "0"/>
                                <xsd:element name = "PseudoDeviceFonts" type = "updf:PseudoDeviceFonts" minOccurs = "0"/>
                                <xsd:element name = "FontReference" type = "xsd:IDREF" minOccurs = "0" maxOccurs = "unbounded"/>
                                <xsd:element name = "Parameter" type = "updf:Parameter" minOccurs = "0"/>
                                <xsd:any namespace = "##wildcard" processContents = "strict" minOccurs = "0" maxOccurs = "unbounded"/>
                        </xsd:sequence>
                        <xsd:attribute name = "ID" use = "required" type = "xsd:ID"/>
                        <xsd:attribute name = "FontFamily" use = "required" type = "updf:FontFamilyWKV"/>
                        <xsd:attribute name = "FontVendor" use = "optional" type = "updf:FontVendor"/>
                        <xsd:attribute name = "Encoding" use = "required" type = "updf:EncodingWKV"/>
                        <xsd:attribute name = "IFIMETRICSSelection" use = "optional" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "PassiveFont" use = "optional" type = "xsd:boolean"/>
                </xsd:complexType>
                <xsd:complexType name = "FontNames">
                        <xsd:sequence>
                                <xsd:element name = "FaceName" type = "updf:FaceName" minOccurs = "0"/>
                                <xsd:element name = "FamilyName" type = "updf:FamilyName" minOccurs = "0"/>
                                <xsd:element name = "UniqueName" type = "updf:UniqueName" minOccurs = "0"/>
                                <xsd:element name = "AliasName" type = "updf:AliasName" minOccurs = "0" maxOccurs = "unbounded"/>
                                <xsd:element name = "SlantName" type = "updf:SlantName" minOccurs = "0"/>
                                <xsd:element name = "WeightName" type = "updf:WeightName" minOccurs = "0"/>
                        </xsd:sequence>
                </xsd:complexType>
                <xsd:complexType name = "FaceName">
                        <xsd:attribute name = "ID" use = "required" type = "updf:FontFaceName"/>
                </xsd:complexType>
                <xsd:complexType name = "FamilyName">
                        <xsd:attribute name = "ID" use = "required" type = "updf:FontFamilyName"/>
                </xsd:complexType>
                <xsd:complexType name = "UniqueName">
                        <xsd:attribute name = "ID" use = "required" type = "updf:FontUniqueName"/>
                </xsd:complexType>
                <xsd:complexType name = "AliasName">
                        <xsd:attribute name = "ID" use = "required" type = "xsd:ID"/>
                </xsd:complexType>
                <xsd:complexType name = "SlantName">
                        <xsd:attribute name = "ID" use = "required" type = "xsd:ID"/>
                </xsd:complexType>
                <xsd:complexType name = "WeightName">
                        <xsd:attribute name = "ID" use = "required" type = "xsd:ID"/>
                </xsd:complexType>
                <xsd:complexType name = "GlobalMetrics">
                        <xsd:sequence>
                                <xsd:element name = "CharacterWidth" type = "updf:CharacterWidth" minOccurs = "0"/>
                        </xsd:sequence>
                        <xsd:attribute name = "UnitsPerEm" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "PointsPerInch" use = "required" type = "updf:FontPointsPerInchWKV"/>
                        <xsd:attribute name = "Spacing" use = "required" type = "updf:FontSpacingWKV"/>
                        <xsd:attribute name = "MinimumHeight" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "MaximumHeight" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "HeightStep" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "Slant" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "WindowsWeight" use = "required" type = "updf:FontWeightPattern"/>
                        <xsd:attribute name = "WindowsAscender" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "WindowsDescender" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "MacAscender" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "MacDescender" use = "required" type = "xsd:nonPositiveInteger"/>
                        <xsd:attribute name = "MacLineGap" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "TypographicAscender" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "TypographicDescender" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "TypographicLineGap" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "AverageCharacterWidth" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "MaximumCharacterIncrement" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "CapHeight" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "xHeight" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "SubscriptXSize" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "SubscriptYSize" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "SubscriptXOffset" use = "required" type = "xsd:integer"/>
                        <xsd:attribute name = "SubscriptYOffset" use = "required" type = "xsd:integer"/>
                        <xsd:attribute name = "SuperscriptXSize" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "SuperscriptYSize" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "SuperscriptXOffset" use = "required" type = "xsd:integer"/>
                        <xsd:attribute name = "SuperscriptYOffset" use = "required" type = "xsd:integer"/>
                        <xsd:attribute name = "UnderscoreSize" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "UnderscoreOffset" use = "required" type = "xsd:integer"/>
                        <xsd:attribute name = "UnderscoreAbsoluteValues" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "StrikeoutSize" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "StrikeoutOffset" use = "required" type = "xsd:integer"/>
                        <xsd:attribute name = "StrikeoutAbsoluteValues" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "Baseline" use = "required" type = "updf:VectorPattern"/>
                        <xsd:attribute name = "Aspect" use = "required" type = "xsd:string"/>
                        <xsd:attribute name = "Caret" use = "required" type = "xsd:string"/>
                        <xsd:attribute name = "Orientation" use = "required" type = "pwg:OrientationRequestedWKV"/>
                        <xsd:attribute name = "Degree" use = "required" type = "xsd:nonNegativeInteger"/>
                </xsd:complexType>
                <xsd:complexType name = "IfimetricsInfo">
                        <xsd:attribute name = "ARB_XFORMS" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "_1BPP" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "_4BPP" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "_8BPP" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "_16BPP" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "_24BPP" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "_32BPP" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "INTEGER_WIDTH" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "NOT_CONTIGUOUS" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "UNICODE_COMPLIANT" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "RIGHT_HANDED" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "INTEGRAL_SCALING" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "_90DEGREE_ROTATIONS" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "OPTICALLY_FIXED_PITCH" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "DO_NOT_ENUMERATE" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "ISOTROPIC_SCALING_ONLY" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "ANISOTROPIC_SCALING_ONLY" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "TID_EMBEDDED" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "FAMILY_EQUIV" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "DBCS_FIXED_PITCH" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "NONNEGATIVE_AC" use = "required" type = "xsd:boolean"/>
                        <xsd:attribute name = "IGNORE_TC_RA_ABLE" use = "required" type = "xsd:boolean"/>
                </xsd:complexType>
                <xsd:complexType name = "Panose">
                        <xsd:attribute name = "PanoseFamilyType" use = "required" type = "updf:PanoseFamilyTypeWKV"/>
                        <xsd:attribute name = "PanoseSerifStyle" use = "required" type = "updf:PanoseSerifStyleWKV"/>
                        <xsd:attribute name = "PanoseWeight" use = "required" type = "updf:PanoseWeightWKV"/>
                        <xsd:attribute name = "PanoseProportion" use = "required" type = "updf:PanoseProportionWKV"/>
                        <xsd:attribute name = "PanoseContrast" use = "required" type = "updf:PanoseContrastWKV"/>
                        <xsd:attribute name = "PanoseStrokeVariation" use = "required" type = "updf:PanoseStrokeVariationWKV"/>
                        <xsd:attribute name = "PanoseArmStyle" use = "required" type = "updf:PanoseArmStyleWKV"/>
                        <xsd:attribute name = "PanoseLetterform" use = "required" type = "updf:PanoseLetterformWKV"/>
                        <xsd:attribute name = "PanoseMidline" use = "required" type = "updf:PanoseMidlineWKV"/>
                        <xsd:attribute name = "PanoseXHeight" use = "required" type = "updf:PanoseXHeightWKV"/>
                </xsd:complexType>
                <xsd:complexType name = "FontTechnology">
                        <xsd:sequence>
                            <xsd:choice>
                                <xsd:element name="StandardRendering" type="updf:StandardRendering"/>
                                <xsd:element name="ScalingFormula" type="xsd:string"/>
                            </xsd:choice>
                        </xsd:sequence>
                </xsd:complexType>
                <xsd:complexType name = "StandardRendering">
                        <xsd:attribute name = "RenderingType" use = "required" type = "updf:FontRenderingTypeWKV"/>
                        <xsd:attribute name = "FixedIntegerBits" use = "required" type = "xsd:nonNegativeInteger"/>
                        <xsd:attribute name = "FixedFractionBits" use = "required" type = "xsd:nonNegativeInteger"/>
                </xsd:complexType>
                <xsd:complexType name = "CharacterHandling">
                        <xsd:sequence>
                                <xsd:element name = "OSCharacterSet" type = "updf:OSCharacterSet" maxOccurs = "unbounded"/>
                        </xsd:sequence>
                        <xsd:attribute name = "UserDefinedCharacterSet" use = "optional" type = "xsd:boolean"/>
                        <xsd:attribute name = "NonBreakingSpace" use = "required" type = "xsd:string"/>
                        <xsd:attribute name = "DummyCharacter" use = "required" type = "xsd:string"/>
                </xsd:complexType>
                <xsd:complexType name = "OSCharacterSet">
                        <xsd:attribute name = "ID" use = "required" type = "updf:Charset"/>
                </xsd:complexType>
                <xsd:complexType name = "CharacterList">
                        <xsd:sequence>
                                <xsd:element name = "Character" type = "updf:Character" maxOccurs = "unbounded"/>
                        </xsd:sequence>
                </xsd:complexType>
                <xsd:complexType name = "Character">
                        <xsd:sequence>
                                <xsd:element name = "CharacterWidth" type = "updf:CharacterWidth" minOccurs = "0"/>
                                <xsd:element name = "SymbolSet" type = "updf:SymbolSet" minOccurs = "0"/>
                                <xsd:element name = "Parameter" type = "updf:Parameter" minOccurs = "0"/>
                                <xsd:any namespace = "##wildcard" processContents = "strict" minOccurs = "0" maxOccurs = "unbounded"/>
                        </xsd:sequence>
                        <xsd:attribute name = "ID" use = "required" type = "xsd:string"/>
                        <xsd:attribute name = "CharacterPrintOutput" use = "optional" type = "xsd:string"/>
                        <xsd:attribute name = "CharacterName" use = "optional" type = "xsd:string"/>
                </xsd:complexType>
                <xsd:complexType name = "CharacterWidth">
                        <xsd:attribute name = "A_Value" use = "required" type = "xsd:integer"/>
                        <xsd:attribute name = "B_Value" use = "required" type = "xsd:integer"/>
                        <xsd:attribute name = "C_Value" use = "required" type = "xsd:integer"/>
                </xsd:complexType>
                <xsd:complexType name = "SymbolSet">
                        <xsd:sequence>
                                <xsd:element name = "Parameter" type = "updf:Parameter" minOccurs = "0"/>
                                <xsd:any namespace = "##wildcard" processContents = "strict" minOccurs = "0" maxOccurs = "unbounded"/>
                        </xsd:sequence>
                </xsd:complexType>
                <xsd:complexType name = "KerningTable">
                        <xsd:sequence>
                                <xsd:element name = "KerningPair" type = "updf:KerningPair" maxOccurs = "unbounded"/>
                        </xsd:sequence>
                </xsd:complexType>
                <xsd:complexType name = "KerningPair">
                        <xsd:attribute name = "FirstCharacter" use = "required" type = "xsd:string"/>
                        <xsd:attribute name = "SecondCharacter" use = "required" type = "xsd:string"/>
                        <xsd:attribute name = "XOffset" use = "required" type = "xsd:integer"/>
                </xsd:complexType>
                <xsd:complexType name = "CharacterSubstitutionTable">
                        <xsd:sequence>
                                <xsd:element name = "CharacterSubstitution" type = "updf:CharacterSubstitution" maxOccurs = "unbounded"/>
                        </xsd:sequence>
                </xsd:complexType>
                <xsd:complexType name = "CharacterSubstitution">
                        <xsd:attribute name = "CharacterIDRef" use = "required" type = "xsd:string"/>
                        <xsd:attribute name = "SubstitutionFirstCharacter" use = "required" type = "xsd:string"/>
                        <xsd:attribute name = "SubstitutionSecondCharacter" use = "optional" type = "xsd:string"/>
                        <xsd:attribute name = "SubstitutionXOffset" use = "optional" type = "xsd:integer"/>
                        <xsd:attribute name = "SubstitutionYOffset" use = "optional" type = "xsd:integer"/>
                </xsd:complexType>
                <xsd:complexType name = "PseudoDeviceFonts">
                        <xsd:sequence>
                                <xsd:element name = "PseudoSlant" type = "xsd:IDREF" minOccurs = "0" maxOccurs = "2"/>
                                <xsd:element name = "PseudoWeight" type = "xsd:IDREF" minOccurs = "0" maxOccurs = "2"/>
                                <xsd:element name = "PseudoUnderline" type = "xsd:IDREF" minOccurs = "0" maxOccurs = "2"/>
                                <xsd:element name = "PseudoStrikeout" type = "xsd:IDREF" minOccurs = "0" maxOccurs = "2"/>
                        </xsd:sequence>
                </xsd:complexType>
</xsd:schema>
