UPDF/UPDFOptionConfiguration.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://www.pwg.org/updf/"
            xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
            xmlns:updf = "http://www.pwg.org/updf/"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Copyright (c) 2002 Norbert Schade                                     -->
	<!--                                                                       -->
	<!-- Permission is hereby granted, free of charge, to any person obtaining -->
	<!-- a copy of this software and associated documentation files (the       -->
	<!-- "Software"), to deal in the Software without restriction, including   -->
	<!-- without limitation the rights to use, copy, modify, merge, publish,   -->
	<!-- distribute, sublicense, and/or sell copies of the Software,           -->
	<!-- and to permit persons to whom the Software is furnished to do so,     -->
	<!-- subject to the following conditions: The above copyright notice and   -->
	<!-- this permission notice shall be included in all copies                -->
	<!-- or substantial portions of the Software.                              -->
	<!--                                                                       -->
	<!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,       -->
	<!-- EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES       -->
	<!-- OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND              -->
	<!-- NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE-->
	<!-- LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION-->
	<!-- OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION -->
	<!-- WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.       -->
	
        <xsd:element name = "OptionalUnitConfiguration">
                <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name = "Locale" type = "updf:Locale" maxOccurs = "unbounded"/>
                                <xsd:element name = "ICCProfile" type = "updf:ICCProfile" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
                        </xsd:sequence>
                        <xsd:attribute name = "FileTypeIdentification" fixed = "Option Configuration" type = "xsd:string"/>
                        <xsd:attribute name = "UnitDescriptionReference" use = "required" type = "xsd:string"/>
                        <xsd:attribute name = "CommandSequencesReference" use = "optional" type = "xsd:string"/>
                </xsd:complexType>
        </xsd:element>
                <xsd:complexType name = "Locale">
                        <xsd:attribute name = "LocaleReference" use = "required" type = "xsd:string"/>
                </xsd:complexType>
                <xsd:complexType name = "ICCProfile">
                        <xsd:attribute name = "FileName" use = "required" type = "xsd:string"/>
                </xsd:complexType>
</xsd:schema>
