UPDF/UPDFWildcards.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<wildcard:schema xmlns:wildcard = "http://www.w3.org/2001/XMLSchema"
                 elementFormDefault="qualified" attributeFormDefault="unqualified">
                <wildcard:complexType name = "Parameter2">
                        <wildcard:attribute name = "ID" use = "required" type = "wildcard:string"/>
                </wildcard:complexType>
                <wildcard:complexType name = "Parameter3">
                        <wildcard:attribute name = "ID" use = "required" type = "wildcard:string"/>
                </wildcard:complexType>
                <wildcard:complexType name = "Parameter4">
                        <wildcard:attribute name = "ID" use = "required" type = "wildcard:string"/>
                </wildcard:complexType>
                <wildcard:complexType name = "Parameter5">
                        <wildcard:attribute name = "ID" use = "required" type = "wildcard:string"/>
                </wildcard:complexType>
                <wildcard:complexType name = "Parameter6">
                        <wildcard:attribute name = "ID" use = "required" type = "wildcard:string"/>
                </wildcard:complexType>
                <wildcard:complexType name = "Parameter7">
                        <wildcard:attribute name = "ID" use = "required" type = "wildcard:string"/>
                </wildcard:complexType>
                <wildcard:complexType name = "Parameter8">
                        <wildcard:attribute name = "ID" use = "required" type = "wildcard:string"/>
                </wildcard:complexType>
                <wildcard:complexType name = "Parameter9">
                        <wildcard:attribute name = "ID" use = "required" type = "wildcard:string"/>
                </wildcard:complexType>
</wildcard:schema>
