UPDF/UPDFUserPolicy.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://www.pwg.org/updf/up/"
        xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
        xmlns:updf = "http://www.pwg.org/updf/"
        xmlns:up = "http://www.pwg.org/updf/up/"
        xmlns:pwg = "http://www.pwg.org/schemas/sm/1.0/"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:import namespace="http://www.pwg.org/updf/" schemaLocation="UPDF.xsd"/>
	<!-- Copyright (c) 2002 Norbert Schade                                     -->
	<!--                                                                       -->
	<!-- Permission is hereby granted, free of charge, to any person obtaining -->
	<!-- a copy of this software and associated documentation files (the       -->
	<!-- "Software"), to deal in the Software without restriction, including   -->
	<!-- without limitation the rights to use, copy, modify, merge, publish,   -->
	<!-- distribute, sublicense, and/or sell copies of the Software,           -->
	<!-- and to permit persons to whom the Software is furnished to do so,     -->
	<!-- subject to the following conditions: The above copyright notice and   -->
	<!-- this permission notice shall be included in all copies                -->
	<!-- or substantial portions of the Software.                              -->
	<!--                                                                       -->
	<!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,       -->
	<!-- EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES       -->
	<!-- OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND              -->
	<!-- NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE-->
	<!-- LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION-->
	<!-- OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION -->
	<!-- WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.       -->
	
	<xsd:element name="DeviceCapabilities">
		<xsd:complexType>
			<xsd:sequence>
                                <xsd:element name="PrintCapabilities" type="up:PrintCapabilities"/>
			</xsd:sequence>
			<xsd:attribute name = "FileTypeIdentification" fixed = "User policy" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PrintCapabilities">
                <xsd:sequence>
                        <xsd:element name="Features" type="up:Features" minOccurs="0"/>
                        <xsd:element name="Dependencies" type="updf:Dependencies" minOccurs="0"/>      
			<xsd:element name="UserInterfaces" type="updf:UserInterfaces" minOccurs="0"/>
                </xsd:sequence>
	</xsd:complexType>
        <xsd:complexType name = "Features">
                <xsd:sequence>
                        <xsd:element ref="updf:CompositeFeature" minOccurs = "0" maxOccurs = "unbounded"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
